.footer {
  background: $dark;
  color: $white;
  padding: 4rem 0;
  .footer_header {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: 3rem;
    }
    p {
      color: $light-gray;
      margin: 2.5rem 0;
    }
  }
  .footer_nav_container {
    height: 280px;
    .header {
      margin-bottom: 1.5rem;
    }
    .footer_nav {
      display: block;
      .nav_link {
        margin-bottom: 1.5rem;
        a {
          color: $light-gray !important;
        }
      }
    }
  }
  .footer_subscribe_container {
    .header {
      margin-bottom: 3rem;
    }
    p {
      color: $light-gray;
      margin: 2.5rem 0;
    }
    .subscribe_button {
      background-color: $primary;
      color: $white;
    }
    .subscribe_textfield_container {
      .subscribe_textfield {
        // background-color: $white;
        padding: 8px 16px;
        border-radius: 4px 0 0 4px;
        background: $white;
        color: $dark;
   
        &::placeholder {
        }
      }
      .subscribe_button {
        margin-bottom: 3px;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
