@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import "../styles/reset.scss";
@import "../styles/theme.scss";
@import "../styles/hero.scss";
@import "../styles/gap.scss";
@import "../styles/home-services.scss";
@import "../styles/home-steps.scss";
@import "../styles/home-contact.scss";
@import "../styles/reviews-slider.scss";
@import "../styles/footer.scss";
@import "../styles/header.module.scss";
@import "../styles/about-us.scss";
@import "../styles/demo.scss";
@import "../styles/service.scss";
@import "../styles/contact.scss";
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif !important;
  overflow-x: hidden;
  color: $dark;
}
.hero_section {
  height: 500px;
  position: relative;
  margin-top: 1rem;
  .hero__left {
    display: flex;
    flex-direction: column;

    justify-content: center;
    height: 500px;

    .hero__left_description {
      text-align: left;
      margin: 1rem 0;
      font-size: 1.2rem;
      color: $light-gray;
    }
    .hero__left_title {
      font-size: 50px;
      line-height: 60px;
      span {
        display: block;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          background-image: url("https://bslthemes.com/html/terio/assets/img/text-line-blu.png");
          background-repeat: no-repeat;
          width: 40%;
          height: 100%;
          bottom: -80%;
        }
      }
    }
  }
  .hero__right {
    position: absolute;
    right: 0;
    top: 0;
    // height: 500px !important;
    width: 100% !important;
    display: flex;
    .home_img {
      vertical-align: middle;
      width: 50vw !important;
      right: 0;
      position: absolute;
      object-fit: cover;
      height: 500px !important;
    }
  }
}
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
.MuiButton-root {
  transition: 0.25s;
  text-transform: capitalize;
  font-weight: 600;
}
.divider {
  background: $lightest-gray;
  width: 100%;
  display: block;
  height: 1px;
}
